/*custom_styles*/

.panel-heading
{font-size:12pt;}

.input-group-addon
{
  background-color: transparent;
  border: none;
  font-weight: bold;
  vertical-align: top;
  text-align: right;
  color: black;
  min-width: 100pt;
  max-width: 100pt;
  padding: 14pt;
  bord-radius: 2pt;
}



.btn-default{
 color: #696969;
 text-align: left;
}

.rowheader1
{
  font-weight: bold;
  text-align: left;
  padding: 0pt;
}

